- job:
    name: mcp-gate
    description: |
      MCP Installer gate job
    node: standard
    builders:
      - get-from-zuul
      - shell: !include-raw builders/mcp-installer-gate.sh
    concurrent: true
    wrappers:
      - ng-cleanup
    triggers:
      - zuul
    publishers:
      - post-tasks:
        - matches:
          - log-text: ''
          escalate-status: true
          run-if-job-successful: false
          script: |
            #!/bin/bash

            set -ex

            export ENV_NAME="env-k8s-$BUILD_TAG"

            source /home/jenkins/venv-fuel-devops-3.0/bin/activate
            echo "Running on $NODE_NAME: $ENV_NAME"

            dos.py erase $ENV_NAME || true
            deactivate
