- job-template:
    name: "{{ CLUSTERNAME }}-deploy-k8s"
    description: |
      Deploy k8s cluster
    node: installer
    builders:
      - shell:
          !include-raw 'builders/mcp-installer-deploy.sh'
    concurrent: false
    scm:
      - openstack:
          scm-basedir: ''
          scm-branch: 'master'
          scm-repo: 'fuel-ccp-installer'
    wrappers:
      - timeout:
          timeout: 7200
          fail: false
      - ssh-agent-credentials:
          users:
            - "{{ SSH_KEY_ID }}"
    parameters:
      # START FUEL-DEVOPS PARAMS
      - extended-choice:
          name: IMAGE
          description: "VM image file for k8s hosts"
          property-file: http://jenkins-storage.ng.mirantis.net/images/images.lst
          property-key: images
      - string:
          name: PARAM_SLAVES_COUNT
          default: '3'
          description: "Number of VMs to spawn in this environment."
      # END FUEL-DEVOPS PARAMS
      - string:
          name: INVENTORY_REPO
          default: "https://review.fuel-infra.org/nextgen/mcpinstaller-inventory"
      - string:
          name: INVENTORY_COMMIT
          default: "master"
      - string:
          name: KARGO_REPO
          default: "https://github.com/kubespray/kargo.git"
      - string:
          name: KARGO_COMMIT
          default: "master"
      - text:
      - text:
          name: CUSTOM_YAML
          description: "Copy and paste valid YAML data to customize deployment"
          default: |
            ---
            hyperkube_image_tag: "v1.4.0-alpha.2-1467-g6bc62_53"
            hyperkube_image_repo: "artifactory.ng.mirantis.net:5002/hyperkube-amd64"
            upstream_dns_servers: "{{ DNS_SERVERS }}"
    publishers:
      - post-tasks:
        - matches:
          - log-text: ''
          escalate-status: true
          run-if-job-successful: false
          script: |
            #!/bin/bash
            set -ex
            export ENV_NAME="mcp-env-$BUILD_TAG"
            source /home/jenkins/fuel-devops-3.0/bin/activate
            echo "Running on $NODE_NAME: $ENV_NAME"
            # Uncomment for fuel-devops deployment
            #dos.py erase $ENV_NAME
            deactivate
- project:
    name: Deploy MCP Kubernetes cluster
    jobs:
       - "{{ CLUSTERNAME }}-deploy-k8s"
